body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: black;
}

#results {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    padding: 0px;
    background: white;
    text-align: left;
}

.fullscreen {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    padding: 0px;
    width: 100%;
    height: 100%;
}

.fullscreen video, .fullscreen div {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0px;
    z-index: -1;
    padding: 0px;
    border: 0px;
}

.fullscreen canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    padding: 0px;
    border: 0px;
}

#navbar {
    text-align: right;
    float: right;
    width: 200px;
}

#navbar input {
    display: none;
}

#navbar label {
    width: 200px;
    height: 50px;
    background-color: #f0f0f0;
    display: inline-block;
    text-align: center;
    font-size: 20px;
    line-height: 50px;
    vertical-align: baseline;
    color: black;
}

/* label next to checked input */
#navbar input:checked + label {
    color: gray;
    text-decoration: line-through;
}

h1 {
    margin: auto;
    padding: 0;
    text-align: center;
    width: 40%;
}

#navbar-bootstrap {
    text-align: right;
    padding: 20px;
}

/* strike disabled */
#navbar-bootstrap input:checked + label {
    color: black;
    text-decoration: line-through;
}